Repository strasdat/Sophus: changes, and which pre-commit hooks are due for each by the changed paths.
All: pragma-once, no-c-std-lib

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
    - id: black
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: thirdparty/.*$
      - id: check-yaml
      - id: check-json
        exclude: docs/
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.13
    hooks:
      - id: insert-license
        files: \.(h|hpp|cpp|proto)$
        exclude: (py|thirdparty|py/sympy/cpp_gencode)/.*$
        args:
          - --comment-style
          - //
          - --license-filepath
          - license_header.txt
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v14.0.0
    hooks:
      - id: clang-format
        files: \.(h|hpp|cpp)$
        exclude: (py|thirdparty)/.*$
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: b367d44fc93cb994af9d18b9578861478755ad0e
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [feat, fix, docs, style, refactor, perf, test, ci, build, chore, revert, bot]
  - repo: local
    hooks:
      - id: pragma-once
        name: pragma once check
        entry: "#pragma once"
        language: pygrep
        files: \.(h|hpp)$
        args: [--negate]
        exclude: (py|thirdparty)/.*$
      - id: no-c-std-lib
        name: c standard library check
        entry: |
          (?x)<(
            assert|complex|ctype|errno|fenv|float|inttypes|iso646|limits|locale|math|setjmp|signal|
            stdalign|stdarg|stdatomic|stdbool|stddef|stdint|stdio|stdlib|stdnoreturn|string|tgmath|
            threads|time|uchar|wchar|wctype
          ).h>
        language: pygrep
        files: \.(h|hpp|cpp)$
        exclude: (py|thirdparty/.*$)
ci:
    autofix_commit_msg: |
        bot: auto fixes from pre-commit.com hooks

        for more information, see https://pre-commit.ci

refactor: tweaks
  cpp/sophus/geometry/proto/conv.cpp
  cpp/sophus/geometry/ray.h
  cpp/sophus/lie/group_manifold.h
  cpp/sophus/lie/impl/rotation2.h
  cpp/sophus/lie/impl/rotation3.h
  cpp/sophus/lie/impl/scaling.h
  cpp/sophus/lie/impl/spiral_similarity2.h
  cpp/sophus/lie/impl/spiral_similarity3.h
  cpp/sophus/manifold/product_manifold.h
  cpp/sophus/manifold/unit_vector.h
  cpp/sophus/manifold/vector_manifold.h
Due: pragma-once, no-c-std-lib

fix: update farm-ng-core, FARM_TRY fix
  cpp/sophus/geometry/proto/conv.cpp
  cpp/sophus/image/dyn_image.h
  cpp/sophus/image/proto/conv.cpp
  cpp/sophus/lie/proto/conv.cpp
  cpp/sophus/manifold/unit_vector.h
  cpp/sophus/sensor/proto/conv.cpp
Due: pragma-once, no-c-std-lib

feat: add proper ceres test / example
  cpp/sophus/ceres/CMakeLists.txt
  cpp/sophus/ceres/ceres_test.cpp
  cpp/sophus/ceres/jet_helpers.h
  cpp/sophus/sensor/camera_model.h
Due: pragma-once, no-c-std-lib

Move farm-ng-package to setup_requires
  setup.cfg
Due: none

deploy: 2774a54e38b007c374ac2ac498f8463073610783
  latest/404.html
  latest/assets/js/runtime~main.3b0e0ed3.js
  latest/assets/js/runtime~main.d44ad78f.js
  latest/docs/Developer Guide/style-guide/index.html
  latest/docs/User Guide/image-classes/index.html
  latest/docs/User Guide/lie-groups/index.html
  latest/docs/User Guide/more-geometry/index.html
  latest/docs/User Guide/overview/index.html
  latest/docs/User Guide/sensor-models/index.html
  latest/docs/User Guide/serialization/index.html
  latest/docs/User Guide/sympy/index.html
  latest/docs/category/contributor-guide/index.html
  latest/docs/category/user-guide/index.html
  latest/docs/intro/index.html
  latest/index.html
  latest/markdown-page/index.html
Due: none

fix: make gcc 9.x happy
  cpp/sophus/common/common.h
  cpp/sophus/lie/impl/rotation3.h
  cpp/sophus/manifold/unit_vector.h
Due: pragma-once, no-c-std-lib

fix: make gcc 9.x happy
  cpp/sophus/ceres/ceres_test.cpp
  cpp/sophus/concepts/division_ring.h
  cpp/sophus/concepts/lie_group.h
  cpp/sophus/lie/impl/identity.h
  cpp/sophus/lie/impl/rotation2.h
  cpp/sophus/lie/impl/rotation3.h
  cpp/sophus/lie/impl/scaling.h
  cpp/sophus/lie/impl/spiral_similarity2.h
  cpp/sophus/lie/impl/spiral_similarity3.h
  cpp/sophus/lie/interp/spline.h
Due: pragma-once, no-c-std-lib

deploy: 9f1334964ad922cf5d9b771d1e87cd611cefc507
  latest/404.html
  latest/assets/css/styles.6af49a53.css
  latest/assets/css/styles.b7883ff5.css
  latest/assets/js/14eb3368.a6446dee.js
  latest/assets/js/14eb3368.c7ea74c3.js
  latest/assets/js/17896441.ad508cc9.js
  latest/assets/js/17896441.c828dff0.js
  latest/assets/js/1be78505.6bc278f4.js
  latest/assets/js/1be78505.e4d1af46.js
  latest/assets/js/1f391b9e.53e11c87.js
  latest/assets/js/1f391b9e.d11b2a6c.js
  latest/assets/js/455.98acbaa8.js
  latest/assets/js/666.c7c56808.js
  latest/assets/js/main.54d28a0b.js
  latest/assets/js/main.54d28a0b.js.LICENSE.txt
  latest/assets/js/main.8cd46ba8.js
  latest/assets/js/runtime~main.3b0e0ed3.js
  latest/assets/js/runtime~main.e5e49469.js
  latest/docs/Developer Guide/style-guide/index.html
  latest/docs/User Guide/image-classes/index.html
  latest/docs/User Guide/lie-groups/index.html
  latest/docs/User Guide/more-geometry/index.html
  latest/docs/User Guide/overview/index.html
  latest/docs/User Guide/sensor-models/index.html
  latest/docs/User Guide/serialization/index.html
  latest/docs/User Guide/sympy/index.html
  latest/docs/category/contributor-guide/index.html
  latest/docs/category/user-guide/index.html
  latest/docs/intro/index.html
  latest/index.html
  latest/markdown-page/index.html
Due: none

Fix API documentation link in README
  README.rst
Due: none

fix: preformance bug in core logging
  cpp/sophus/common/common.h
  cpp/sophus/image/proto/conv.cpp
  cpp/sophus/sensor/proto/conv.cpp
Due: pragma-once, no-c-std-lib

feat: add support for 2 channel image
  cpp/sophus/image/dyn_image_types.h
  cpp/sophus/image/image_types.h
Due: pragma-once, no-c-std-lib

developer guide typo fix
  docs/docs/Developer Guide/style-guide.md
Due: none

Make all setRotationMatrix() takes constant reference
  sophus/sim2.hpp
  sophus/sim3.hpp
Due: pragma-once, no-c-std-lib

deploy: 27056f4e8aca3d36ffe6796149df5388c28767fc
  latest/404.html
  latest/assets/js/runtime~main.c348b09c.js
  latest/assets/js/runtime~main.e5e49469.js
  latest/docs/Developer Guide/style-guide/index.html
  latest/docs/User Guide/image-classes/index.html
  latest/docs/User Guide/lie-groups/index.html
  latest/docs/User Guide/more-geometry/index.html
  latest/docs/User Guide/overview/index.html
  latest/docs/User Guide/sensor-models/index.html
  latest/docs/User Guide/serialization/index.html
  latest/docs/User Guide/sympy/index.html
  latest/docs/category/contributor-guide/index.html
  latest/docs/category/user-guide/index.html
  latest/docs/intro/index.html
  latest/index.html
  latest/markdown-page/index.html
Due: none

add sophus pybind
  CMakeLists.txt
  python/CMakeLists.txt
  python/SE3PyBind.h
  python/SO3PyBind.h
  python/SophusPyBind.h
  python/bindings.cpp
  setup.py
Due: pragma-once

update SophusPyBind
  python/SophusPyBind.h
Due: pragma-once

change to pysophus folder
  CMakeLists.txt
  pysophus/CMakeLists.txt
  pysophus/SE3PyBind.h
  pysophus/SO3PyBind.h
  pysophus/SophusPyBind.h
  pysophus/__init__.py
  pysophus/bindings.cpp
  setup.py
Due: pragma-once

update setup.py and folder structure to allow pip install . to link to .so file
  CMakeLists.txt
  pysophus/CMakeLists.txt
  pysophus/SE3PyBind.h
  pysophus/SO3PyBind.h
  pysophus/SophusPyBind.h
  pysophus/__init__.py
  pysophus/bindings.cpp
  setup.py
Due: pragma-once

run run_format.sh
  pysophus/bindings.cpp
Due: none

remove cmake files in the build folder to allow for a clean pip install package contents
  setup.py
Due: none

add brew install ccache to fix the broken github action pipeline for macos
  scripts/install_osx_deps.sh
Due: none

add python binding unit test and add the unit test workflow in main.yml
  .github/workflows/main.yml
  pysophus/tests/sophusPybindTests.py
Due: none

add build-and-test-pysophus.yml to run pysophus unit test
  .github/workflows/build-and-test-pysophus.yml
  .github/workflows/main.yml
  pysophus/SO3PyBind.h
Due: pragma-once

change namespace to Sophus to be consistent with src code
  pysophus/SE3PyBind.h
  pysophus/SO3PyBind.h
  pysophus/SophusPyBind.h
  pysophus/bindings.cpp
Due: pragma-once

change package name to sophus_pybind to avoid confusion with sympy's pysophus
  .github/workflows/build-and-test-sophus-pybind.yml
  CMakeLists.txt
  pysophus/bindings.cpp
  setup.py
  sophus_pybind/SE3PyBind.h
  sophus_pybind/SO3PyBind.h
  sophus_pybind/SophusPyBind.h
  sophus_pybind/bindings.cpp
  sophus_pybind/tests/sophusPybindTests.py
Due: pragma-once

add stub file generation and installation
  generate_stubs.py
  sophus_pybind-stubs/pyproject.toml
Due: none

update generate_stubs.py to install_stubs.py so that pyhon3 install_stubs.py can be installed directly
  install_stubs.py
Due: none

provide stubs files to allow type hinting
  generate_stubs.py
  install_stubs.py
  setup.py
  sophus_pybind-stubs/py.typed
  sophus_pybind-stubs/pyproject.toml
  sophus_pybind-stubs/sophus_pybind.pyi
Due: none

reconfigure setup.py to move all the library data from temp folder to lib including .so, .pyi, and py.typed files
  setup.py
Due: none

add README and jupyter notebook examples
  sophus_pybind/README
  sophus_pybind/examples/sophus_quickstart_tutorial.ipynb
Due: none

Fix notebook typo
  sophus_pybind/examples/sophus_quickstart_tutorial.ipynb
Due: none
