Repository strasdat/Sophus: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pragma-once, no-c-std-lib

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --good-names-rgxs=^[_a-z][_a-z0-9]?$
  - --max-args=10
  - --min-similarity-lines=30

pragma-once:
  name: pragma once check
  entry: '#pragma once'
  language: pygrep
  args:
  - --negate

no-c-std-lib:
  name: c standard library check
  entry: "(?x)<(\n  assert|complex|ctype|errno|fenv|float|inttypes|iso646|limits|locale|math|setjmp|signal|\n  stdalign|stdarg|stdatomic|stdbool|stddef|stdint|stdio|stdlib|stdnoreturn|string|tgmath|\n  threads|time|uchar|wchar|wctype\n).h>\n"
  language: pygrep

ci: apply clang-tidy 12, fixes ci
  .clang-tidy
  .pre-commit-config.yaml
  cpp/sophus/geometry/inverse_depth.h
  cpp/sophus/image/image_size.h
  cpp/sophus/image/image_view.h
  run_clang_tidy.sh
  super_project/CMakeLists.txt
Due: pragma-once, no-c-std-lib

fix: add missing if() guard in cmake
  cpp/sophus/calculus/CMakeLists.txt
Due: none

style: convential commits enforced
  .pre-commit-config.yaml
  super_project/CMakeLists.txt
Due: none

feat: add nlohmann json
  .gitmodules
  CMakeLists.txt
  cpp/examples/test_install_targets/CMakeLists.txt
  cpp/examples/test_install_targets/image_sensor.cpp
  super_project/CMakeLists.txt
Due: no-c-std-lib

WIP: Add simple tests for Interval<>
  cpp/sophus/calculus/interval_test.cpp
Due: no-c-std-lib

feat: improve interval api
  cpp/sophus/calculus/interval.h
  cpp/sophus/common/eigen_scalar_method.h
Due: pragma-once, no-c-std-lib

test: constr test for interval
  cpp/sophus/calculus/interval.h
  cpp/sophus/calculus/interval_test.cpp
  cpp/sophus/common/eigen_scalar_method.h
  cpp/sophus/common/multi_dim_limits.h
  cpp/sophus/common/point_concepts.h
  cpp/sophus/common/point_methods.h
  cpp/sophus/common/point_traits.h
Due: pragma-once, no-c-std-lib

ci: testing out https://pre-commit.ci/ bot
  .github/workflows/format.yml
  .pre-commit-config.yaml
Due: none

feat: improve interval api #2
  .github/workflows/format.yml
  .pre-commit-config.yaml
  cpp/sophus/calculus/interval.h
  cpp/sophus/calculus/interval_test.cpp
  cpp/sophus/common/CMakeLists.txt
  cpp/sophus/common/common.h
  cpp/sophus/common/point_methods.h
  cpp/sophus/image/image_size.h
  cpp/sophus/image/image_view.h
  cpp/sophus/sensor/camera_model_test.cpp
  cpp/sophus/sensor/orthographic.h
Due: pragma-once, no-c-std-lib

feat: improve interval api #3
  Sophus.code-workspace
  cpp/sophus/calculus/CMakeLists.txt
  cpp/sophus/calculus/interval.h
  cpp/sophus/calculus/region.h
  cpp/sophus/calculus/region_test.cpp
  cpp/sophus/common/common.h
  cpp/sophus/common/point_methods.h
  cpp/sophus/common/point_traits.h
  cpp/sophus/image/image_size.h
  cpp/sophus/image/image_view.h
  cpp/sophus/sensor/orthographic.h
Due: pragma-once, no-c-std-lib

ci: try re-enable coverage
  .github/workflows/main.yml
  CMakeLists.txt
  scripts/compile_gcc_coverage.sh
  scripts/install_ci_deps_mac.sh
  scripts/install_deps_ubuntu.sh
  super_project/CMakeLists.txt
Due: none

fix: repair broken cast method
  cpp/sophus/common/CMakeLists.txt
  cpp/sophus/common/cast.h
  cpp/sophus/common/point_methods.h
  cpp/sophus/common/point_traits.h
  cpp/sophus/common/reduce.h
Due: pragma-once, no-c-std-lib

ci: coverage...
  .github/workflows/main.yml
  scripts/compile_gcc_coverage.sh
Due: none

feat: add transpose() point method
  cpp/sophus/common/point_methods.h
Due: pragma-once, no-c-std-lib

deploy: 6430d2ffbc9f01c6ab80d82b60e9c5282fdc5a35
  latest/.doctrees/environment.pickle
Due: none

deploy: 407bcdc0c9c296dea5742d3ae87a66ecafb0d11b
  latest/.doctrees/environment.pickle
Due: none

deploy: 72914ca9c9abe91944563b262f72314c77ffebf0
  latest/.doctrees/environment.pickle
Due: none

gdocs: revive ci/auto-publishing of docs
  .github/workflows/coverage.yml
  .github/workflows/docs.yml
  .github/workflows/format.yml
  .github/workflows/main.yml
  .github/workflows/pypi-release.yml
  .github/workflows/sympy.yml
  cpp/sophus/image/image_view.h
  docs/api_autogen/page_index.rst
  docs/conf.py
  docs/doxyfile
  docs/doxyrest-config.lua
  docs/make_docs.sh
  docs/pysophus.rst
  docs/style.rst
  make_docs.sh
  rst-dir/page_index.rst
  scripts/install_docs_deps.sh
Due: pylint, pragma-once, no-c-std-lib

docs: add top-level index
  docs/index.rst
  docs/make_docs.sh
Due: none

Path conditions:
  pylint: any of: \.py$, but not: (rst-dir|setup.py)
  pragma-once: any of: \.(h|hpp)$, but not: (py|thirdparty)/.*$
  no-c-std-lib: any of: \.(h|hpp|cpp)$, but not: (py|thirdparty/.*$)
