Repository strasdat/Sophus: changes, and which pre-commit hooks are due for each by the changed paths.
All: pragma-once, no-c-std-lib

pragma-once:
  name: pragma once check
  entry: '#pragma once'
  language: pygrep
  args:
  - --negate

no-c-std-lib:
  name: c standard library check
  entry: "(?x)<(\n  assert|complex|ctype|errno|fenv|float|inttypes|iso646|limits|locale|math|setjmp|signal|\n  stdalign|stdarg|stdatomic|stdbool|stddef|stdint|stdio|stdlib|stdnoreturn|string|tgmath|\n  threads|time|uchar|wchar|wctype\n).h>\n"
  language: pygrep

Fic SO2 when using ceres jet
  sophus/so2.hpp
Due: pragma-once, no-c-std-lib

fix: disable failing mac-ci
  .github/workflows/main.yml
  Sophus.code-workspace
Due: none

fix: disable failing mac-ci
  .github/workflows/main.yml
Due: none

reconfigure setup.py to move all the library data from temp folder to lib including .so, .pyi, and py.typed files
  setup.py
Due: none

add stub file generation and installation
  generate_stubs.py
  sophus_pybind-stubs/pyproject.toml
Due: none

change namespace to Sophus to be consistent with src code
  pysophus/SE3PyBind.h
  pysophus/SO3PyBind.h
  pysophus/SophusPyBind.h
  pysophus/bindings.cpp
Due: pragma-once

change package name to sophus_pybind to avoid confusion with sympy's pysophus
  .github/workflows/build-and-test-sophus-pybind.yml
  CMakeLists.txt
  pysophus/bindings.cpp
  setup.py
  sophus_pybind/SE3PyBind.h
  sophus_pybind/SO3PyBind.h
  sophus_pybind/SophusPyBind.h
  sophus_pybind/bindings.cpp
  sophus_pybind/tests/sophusPybindTests.py
Due: pragma-once

provide stubs files to allow type hinting
  generate_stubs.py
  install_stubs.py
  setup.py
  sophus_pybind-stubs/py.typed
  sophus_pybind-stubs/pyproject.toml
  sophus_pybind-stubs/sophus_pybind.pyi
Due: none

run run_format.sh
  pysophus/bindings.cpp
Due: none

update setup.py and folder structure to allow pip install . to link to .so file
  CMakeLists.txt
  pysophus/CMakeLists.txt
  pysophus/SE3PyBind.h
  pysophus/SO3PyBind.h
  pysophus/SophusPyBind.h
  pysophus/__init__.py
  pysophus/bindings.cpp
  setup.py
Due: pragma-once

add sophus pybind
  CMakeLists.txt
  python/CMakeLists.txt
  python/SE3PyBind.h
  python/SO3PyBind.h
  python/SophusPyBind.h
  python/bindings.cpp
  setup.py
Due: pragma-once

add brew install ccache to fix the broken github action pipeline for macos
  scripts/install_osx_deps.sh
Due: none

change to pysophus folder
  CMakeLists.txt
  pysophus/CMakeLists.txt
  pysophus/SE3PyBind.h
  pysophus/SO3PyBind.h
  pysophus/SophusPyBind.h
  pysophus/__init__.py
  pysophus/bindings.cpp
  setup.py
Due: pragma-once

add python binding unit test and add the unit test workflow in main.yml
  .github/workflows/main.yml
  pysophus/tests/sophusPybindTests.py
Due: none

update generate_stubs.py to install_stubs.py so that pyhon3 install_stubs.py can be installed directly
  install_stubs.py
Due: none

add README and jupyter notebook examples
  sophus_pybind/README
  sophus_pybind/examples/sophus_quickstart_tutorial.ipynb
Due: none

Fix notebook typo
  sophus_pybind/examples/sophus_quickstart_tutorial.ipynb
Due: none

remove cmake files in the build folder to allow for a clean pip install package contents
  setup.py
Due: none

add build-and-test-pysophus.yml to run pysophus unit test
  .github/workflows/build-and-test-pysophus.yml
  .github/workflows/main.yml
  pysophus/SO3PyBind.h
Due: pragma-once

update SophusPyBind
  python/SophusPyBind.h
Due: pragma-once

Make SO3<Scalar>::cast<Scalar>() a noop
  sophus/so3.hpp
Due: pragma-once, no-c-std-lib

fix formatting
  sophus/so2.hpp
Due: pragma-once, no-c-std-lib

Added a test of ceres-based spline approximation in the test/ceres folder.
  test/ceres/ceres_flags.hpp
  test/ceres/test_ceres_rxso2.cpp
  test/ceres/test_ceres_so2.cpp
  test/ceres/tests.hpp
Due: pragma-once, no-c-std-lib

Commented out the file generation example
  test/ceres/test_ceres_rxso2.cpp
Due: no-c-std-lib

Update CMakeLists.txt
  test/ceres/CMakeLists.txt
Due: none

Update test_common.cpp: use integer constant for knot index
  test/core/test_common.cpp
Due: no-c-std-lib

Reduce Eigen/Dense to Eigen/Core in sophus/rotation_matrix.hpp
  sophus/rotation_matrix.hpp
Due: pragma-once, no-c-std-lib

CMakeLists.txt: various fixes
  CMakeLists.txt
Due: none

Make all setRotationMatrix() takes constant reference
  sophus/sim2.hpp
  sophus/sim3.hpp
Due: pragma-once, no-c-std-lib

smaller ci tweak
  .github/workflows/main.yml
  .github/workflows/sympy.yml
  README.md
  package.xml
  setup.py
Due: none

Path conditions:
  pragma-once: any of: \.(h|hpp)$, but not: (py|thirdparty)/.*$
  no-c-std-lib: any of: \.(h|hpp|cpp)$, but not: (py|thirdparty/.*$)
