Repository strasdat/Sophus: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pragma-once, no-c-std-lib

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --good-names-rgxs=^[_a-z][_a-z0-9]?$
  - --max-args=10
  - --min-similarity-lines=30

pragma-once:
  name: pragma once check
  entry: '#pragma once'
  language: pygrep
  args:
  - --negate

no-c-std-lib:
  name: c standard library check
  entry: "(?x)<(\n  assert|complex|ctype|errno|fenv|float|inttypes|iso646|limits|locale|math|setjmp|signal|\n  stdalign|stdarg|stdatomic|stdbool|stddef|stdint|stdio|stdlib|stdnoreturn|string|tgmath|\n  threads|time|uchar|wchar|wctype\n).h>\n"
  language: pygrep

docs: add top-level index
  docs/index.rst
  docs/make_docs.sh
Due: none

gdocs: revive ci/auto-publishing of docs
  .github/workflows/coverage.yml
  .github/workflows/docs.yml
  .github/workflows/format.yml
  .github/workflows/main.yml
  .github/workflows/pypi-release.yml
  .github/workflows/sympy.yml
  cpp/sophus/image/image_view.h
  docs/api_autogen/page_index.rst
  docs/conf.py
  docs/doxyfile
  docs/doxyrest-config.lua
  docs/make_docs.sh
  docs/pysophus.rst
  docs/style.rst
  make_docs.sh
  rst-dir/page_index.rst
  scripts/install_docs_deps.sh
Due: pylint, pragma-once, no-c-std-lib

format: clang-tidy
  cpp/sophus/calculus/region.h
Due: pragma-once, no-c-std-lib

namespace must match the cmake package name so find_package for add_subdirectory works well.
  cpp/CMakeLists.txt
  cpp/sophus/calculus/CMakeLists.txt
  cpp/sophus/ceres/CMakeLists.txt
  cpp/sophus/common/CMakeLists.txt
  cpp/sophus/geometry/CMakeLists.txt
  cpp/sophus/geometry/proto/CMakeLists.txt
  cpp/sophus/image/CMakeLists.txt
  cpp/sophus/image/proto/CMakeLists.txt
  cpp/sophus/lie/CMakeLists.txt
  cpp/sophus/lie/interp/CMakeLists.txt
  cpp/sophus/lie/proto/CMakeLists.txt
  cpp/sophus/linalg/CMakeLists.txt
  cpp/sophus/linalg/proto/CMakeLists.txt
  cpp/sophus/sensor/CMakeLists.txt
  cpp/sophus/sensor/proto/CMakeLists.txt
Due: none

docs: revamp readme
  .github/workflows/main.yml
  README.md
  README.rst
Due: none

docs: revamp README.md
  .github/workflows/build.yml
  README.md
Due: none

docs: revamp README.md
  .github/workflows/build.yml
  README.md
  README.rst
Due: none

docs: top-level readme - Lie Groups
  README.md
Due: none

docs: top-level readme - Lie Groups
  README.md
  Sophus.code-workspace
  cpp/examples/test_install_targets/CMakeLists.txt
  cpp/examples/test_install_targets/hello_se3.cpp
  cpp/examples/test_install_targets/hello_so3.cpp
  cpp/sophus/ceres/se3_test.cpp
  cpp/sophus/ceres/sim3_test.cpp
  cpp/sophus/ceres/so3_test.cpp
  cpp/sophus/lie/proto/conv.cpp
  cpp/sophus/lie/so3.h
Due: pragma-once, no-c-std-lib

docs: so3 and se3 examples, also in README.md
  README.md
  Sophus.code-workspace
  cpp/examples/test_install_targets/CMakeLists.txt
  cpp/examples/test_install_targets/hello_se3.cpp
  cpp/examples/test_install_targets/hello_so3.cpp
  cpp/sophus/ceres/se3_test.cpp
  cpp/sophus/ceres/sim3_test.cpp
  cpp/sophus/ceres/so3_test.cpp
  cpp/sophus/lie/proto/conv.cpp
  cpp/sophus/lie/so3.h
Due: pragma-once, no-c-std-lib

docs: some README.md tweaks
  README.md
Due: none

docs: switch to modern doxygen + md sphinx book
  .github/workflows/docs.yml
  .gitignore
  .gitmodules
  README.md
  docs/api_autogen/page_index.rst
  docs/c++-api/doxyfile
  docs/conf.py
  docs/doxyrest-config.lua
  docs/getting_started.md
  docs/index.rst
  docs/lie_group_table.md
  docs/make_docs.sh
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: (rst-dir|setup.py)
  pragma-once: any of: \.(h|hpp)$, but not: (py|thirdparty)/.*$
  no-c-std-lib: any of: \.(h|hpp|cpp)$, but not: (py|thirdparty/.*$)
